.uk-navbar-item.uk-logo {
    padding-left: 120px;
}

.logo-image {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 32px;
}

#logo-background {
    fill: $global-primary-background;
}

.uk-navbar-nav > li:hover {
    
    background-color: $global-primary-background;
    > a { color: #fff; }
    &.dropdown {
        border-bottom-left-radius: 0px;
    }
}

.uk-navbar-nav > li {
    @extend .ctx-small-round-border;
    
    transition: background-color .2s;
    > a { 
        transition: color .2s;
        
        text-transform: none;
        font-weight: bold;
    }
}

.uk-navbar-nav > li.hamburger-menu {
    margin-bottom: 0px;
}

.uk-navbar-dropdown {
    border-bottom-left-radius: 25px;
}

.uk-navbar {
    z-index: 99;
}


// .uk-navbar-nav > li, .uk-logo, .uk-navbar-toggle {
//     min-height: 62px;
//     padding: 30px 0px 0px 10px;
// }
.uk-navbar-container {
    padding-top: 30px;
}

#hamburger {
    padding-right: 8px;
}

#mobile-menu {
    position: fixed;
    left: 0;
    right: 5%;
    bottom: 0;
    opacity: 95%;
    border-bottom-right-radius: 100px;
    backdrop-filter: blur(5px);
    top: 60px;
    background: $alert-primary-background;
    z-index: 50;
    padding-top: 40px;

    ul.uk-nav > li {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='2'><circle r='0.9' style='fill:%2322222;' cy='1' cx='1'/></svg>");
        background-position-y: bottom;
        background-repeat: repeat no-repeat;
        &:last-child {
            background: none;
        }
    }

    ul.uk-nav-sub {
        padding: 5px 0 10px 15px;
    }
}

.hamburger-menu, .hamburger-menu a {
        background-color: #fff !important;
        outline: none !important;
        &:hover {
            background-color: #fff !important;
            outline: none !important
        }
        &:focus {
            background-color: #fff !important;
            outline: none !important
        }
}





#hamburger .hamburger-icon {
    #line1, #line2, #line3 {
        transition: transform .5s;
    }
}

#hamburger.is-active .hamburger-icon #line1 {
    transform: rotate(45deg) translate(1px, -1px);
    
}

#hamburger.is-active .hamburger-icon #line3 {
    transform: rotate(-45deg) translate(-4px, -1px);
    
}

#hamburger.is-active .hamburger-icon #line2 {
    opacity: 0;
}
