<li class="description-item">
    {% if image.subtype == 'svg+xml' %}
        <img src="{{image.url}}">
    {% else %}
        <img src="{{image.sizes.qmedium.url}}">
    {% endif %}
    <div class="">
        <b>{{title}}</b>
        <span>{{text}}</span>
    </div>
</li>


