{% if breadcrumbs %}
<div class="flex flex-row justify-end pt-4 top-0 right-0 mr-4">
    <a href="/" class="text-xs bg-primary ml-2 px-2 py-1 text-primary-contrast rounded-tl">Home</a>
    {% for item in breadcrumbs %}
        <a class="text-xs bg-primary ml-2 px-2 py-1 text-primary-contrast {{ loop.last ? "rounded-br" }}" href="{{item.url}}">{{item.title}}</a>
    {% endfor %}
</div>
{% endif %}
