<footer class="bg-gray-700 py-20">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8 xl:px-0">
        <div class=" text-gray-400 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">{{footer}}</div>
    </div>
    <script>
        var lang = "{{site.language}}";
        var theme_uri = "{{site.theme.uri}}";
    </script>
    {{function('wp_footer')}}
    
    
</footer>
<div class="text-gray bg-white">
    <div class="mx-auto py-2">
        <div class="flex flex-row justify-end items-center"> 
            <div class="text-xs mr-2 hidden md:block"><span>Copyright: kids-team</span></div>
            <div class="text-xs mr-2"><a href="/impressum">Impressum</a></div>
            <div class="text-xs mr-2"><a href="/datenschutzerklaerung">Datenschutzerklärung</a></div>
            <div class="">{% include "icons/logo.twig" with {'size': 20, 'fill': 'fill-primary'} %}</div>
        </div>
    </div>
</div>
