{% if menu %}
<div id="mobile-menu" aria-hidden="true" hidden>
	<div class="uk-container">
		<ul class="uk-nav uk-nav-primary uk-nav-parent-icon" uk-nav>
		{% for item in menu %}
			<li class="{{item.class}} {% if item.has_child_class %}uk-parent{% endif %} {% if (item.current or item.current_item_ancestor) %}uk-active{% endif %}">
				<a href="{% if item.has_child_class %}#{% else %}{{item.get_link}}{% endif %}">
					{{item.title}}
				</a>
				{% if item.has_child_class %}
					{% include "partials/menu-mobile-dropdown.twig" with {'menu': item.get_children} %}
				{% endif %}
			</li>
			
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}