{% if menu %}
<ul class="">
    {% for item in menu %}
        <li class="{{item.class}} {% if (item.current or item.current_item_ancestor) %}{% endif %}">
            <a href="{{item.get_link}}">
                {{item.title}} Pimmel
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}