<div class="sticky top-0 bg-white z-40 right-0 left-0 pt-4">
	<div x-data="{ open: false }" class="flex flex-col md:items-end md:justify-between md:flex-row">
		
		<div class="flex justify-between md:items-end flex-row py-1">
			<div class="-mb-5 ml-4 md:ml-8"><a href="/">{{ source( theme_root ~ 'assets/img/logo.svg', ignore_missing = true) }}</a></div>
			<a href="#" class="pl-4 hidden md:inline-block font-semibold  text-gray-900">...damit Kinder ihr Vertrauen auf Gott setzen</a>
			<a class="md:hidden align-end pt-5 pr-2" @click="open = !open">
				{% include "icons/hamburger.twig" %}
			</a>
		</div>
		<nav :class="{'flex': open, 'hidden': !open}" class="h-full md:h-auto flex-col flex-grow hidden pb-4 ml-6 md:ml-0 mt-8 md:mt-0 md:md-0 md:pb-0 md:flex md:justify-end md:flex-row">

			{% if menu %}
	
				{% for item in menu.get_items %}
		
					{% if item.has_child_class %}
						{% include "partials/menu-dropdown.twig" with {'menu': item} %}
					{% else %}
						<a href="{{item.get_link}}" class="text-xl md:text-base rounded-tl rounded-br hover:bg-lightgray px-4 py-1 font-semibold md:mt-0 {% if (item.current or item.current_item_ancestor) %}bg-lightgray{% endif %}" href="">
							{{item.title}}
						</a>
		
					{% endif %}
	
				{% endfor %}
	
			{% endif %}
				
		</nav>
	</div>
</div>