<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-navbar-left">
			<a href="" class="uk-navbar-item uk-logo">
				<div class="logo-image"><img data-src="{{ site.theme.uri }}/assets/dist/img/logo.svg" class="ctx-logo-image" uk-svg width="70" height="70px"></div>
				<span class="uk-visible@m">...damit Kinder ihr Vertrauen auf Gott setzen</span>
			</a>
		</div>
		<div class="uk-navbar-right">
			{% include "partials/menu-desktop.twig" with {'menu': menu.get_items} %}
			<ul class="uk-navbar-nav uk-hidden@m">
				<li>
			<a class="hamburger hamburger--collapse" id="hamburger" type="button" uk-toggle="target: #mobile-menu">
				<span class="hamburger-box">
				  <span class="hamburger-inner"></span>
				</span>
			</a>
				</li>
			</ul>
		</div>
	</nav>
	
</div>