{% if menu %}
	<ul class="navbar-nav ml-auto">
	{% for item in menu %}

		{% if item.get_children is not empty %}
			{% set submenu = true %}
		{% else %}
			{% set submenu = false %}
		{% endif %}

		<li class="nav-item {{item.classes | join(' ')}}{% if submenu %} dropdown{% endif %} {% if loop.last %} last{% endif %}">
			<a class="nav-link"
				href="{{item.get_link}}"
				{% if submenu %}
					class="dropdown-toggle"
					data-toggle="dropdown"
					role="button"
					aria-haspopup="true"
					aria-expanded="false"
				{% endif %}
			>
				{{item.title}}
				{% if submenu %}<span class="caret"></span>{% endif %}
			</a>
			{% if submenu %}
				{% include "dropdown-menu.twig" with {'menu': item.get_children} %}
			{% endif %}
		</li>
        
	{% endfor %}
    
	</ul>
    <div class="contact  ml-auto>
        <a class="contact-link">
            <img src="{{ site.theme.uri }}/assets/dist/img/mail.svg" width="40px">
        </a>
    </div>
{% endif %}