{% if menu %}
	
	{% for item in menu %}
		
		{% if item.has_child_class %}
		{% include "partials/menu-dropdown.twig" with {'menu': item} %}
		{% else %}
		<a href="{{item.get_link}}" class="px-4 py-1 font-semibold text-gray-900 md:mt-0 hover:text-gray-900 
			focus:text-gray-900 focus:outline-none focus:shadow-outline {% if (item.current or item.current_item_ancestor) %}bg-gray-200{% endif %}" href="">
			{{item.title}}
		</a>
		
		{% endif %}
	
	{% endfor %}
	
{% endif %}
