{% if menu %}
	<div class="uk-navbar-dropdown">
		<ul class="uk-nav uk-navbar-dropdown-nav">
			{% for item in menu %}
				<li class="{{item.classes | join(' ')}} {% if (item.current or item.current_item_ancestor) %}uk-active{% endif %}">
					<a href="{{item.get_link}}">
						{{item.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}