<div id="search" class="ctx-search" hidden>
    <div class="ctx-search-bar">
        <div class="search-input-wrapper">
            <input id="search-input" type="text" class="ctx-search-input">
        </div>
    </div>
    <div class="ctx-search-backdrop">
        <div class="ctx-search-results uk-container" id="search-results">
            <h3>Beginnen Sie zu tippen, um Suchergebnisse anzuzeigen...</h3>
        </div>
    </div>

</div>