<div id="search" class="" hidden>
    <div class="">
        <div class="">
            <input id="search-input" type="text" class="">
        </div>
    </div>
    <div class="">
        <div class="" id="search-results">
            <h3>Beginnen Sie zu tippen, um Suchergebnisse anzuzeigen...</h3>
        </div>
    </div>

</div>