.wp-block {
  max-width: 1000px;
}

.ctx-button {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.editor-styles-wrapper {
  background-color: #eee;
  cursor: text;
  background: #eee;
}

.ctx-color-badge {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  height: 24px;
  width: 80px;
}


.description.error {
  color: #bb0000 !important;
}

.header-settings-section {
	padding: 10px 0;
}