.alert {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: -1rem;
    padding-right: -1rem;
    display: relative;
    .close:before, .close:after {
        position: absolute;
        top: 0;
        width: 1rem;
    }
    .close { position: relative; }
    .close:before { transform: rotate(-45deg); }
    .close:after { transform: rotate(45deg); }
}

.alert { 
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    }