.description-item { 
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    img, figure {
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        margin-right: 1rem;
    }
    i {
        margin-right: 1rem;
        align-self: flex-start;
        margin-top: 3px;
    }
    &:first-child {
        padding-top: 0px;
    }
    &:last-child {
        padding-bottom: 0px;
    }
    dt {
        font-weight: bold;
    }
}
