form:invalid input[type="submit"] {
    background: var(--mediumgray);
    color: var(--darkgray);
    font-weight: normal;
    cursor: not-allowed;
}

.input-group, .input-name, .input-user_email, .input-user-field {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
.input-text input, .input-date input, .input-user-field input, .input-name input, .input-user_email input, .input-dbem_country select, .input-country select, .input-select select, .donation input[type="text"], .donation input[type="email"], .donation select {
    outline: none !important;
    width: 100%;
    border: 2px solid var(--lightgray);
    padding: 0.5rem 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: var(--white);
    transition: all 300ms ease-in-out;
    color: var(--darkgray)
}



.input-country select, .dbem_country select, .input-dbem_country select, .input-select select, .donstion select {
    padding-left: 15px;
}



.error-message {
    color: var(--error);
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 18px;
    display: block;
}

.input-checkbox { 
    display: flex;
    align-items: center;
    input[type="checkbox"] {
        margin-right: 1rem;
    }
}

input[type="checkbox"] {
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid var(--lightgray);
    background: var(--white);
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    flex-shrink: 0;
    &:focus {
        outline: none;
    }
}

input[type="checkbox"]:checked {
    border-color: var(--primary);
    box-shadow: inset 0px 0px 0px 2px #fff;
}

input[type="checkbox"]::after {
    content: "\2714";
    color: var(--white);
    transition: all 300ms ease-in-out;
    font-weight: bold;
    position: absolute;
    transform: scale-y(0);
    font-size: 19px;
    margin-top: -4px;
    margin-left: 2px;
}

input[type="checkbox"]:checked:after {
    transform: scale-y(100);
    color: var(--primary);
    animation-name: ctx-checkbox-check;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes ctx-checkbox-check {
  0% { 
    transform: scale(0);
  }
  50% {
    transform: scale(120);
  }
  100% {
    transform: scale(100);
  }
}

  span.wpcf7-list-item {
    display: inline-block;
     margin: 0 0 0 0 !important; 
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    color: var(--primary-contrast);
    font-weight: bold;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    outline: none;
    background-color: var(--primary)
}



.input-textarea label, .input-text label, .input-date label, .input-user-field label, .input-name label, .input-user_email label, .input-select label, .input-country label, .donation label {
    margin-top: -12px;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
    height: max-content;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text: 0.75rem;
    background: var(--lightgray);
    transition: all 300ms ease-in-out;
    whitespace: no-wrap;
    position: absolute;
}
  
  
  
.error input, .error select {
    color: var(--error);
    border-color: var(--error);
}
  
select:invalid {
    color: var(--mediumgray);
}
  
  
.error label {
    background: var(--error);
    color: var(--error-contrast);
}
  
.input-textarea {
    flex-flow: column;
}
  
.input-textarea label {
    width: max-content;
    margin-top: 12px;
}

.input-textarea textarea {
    width: 100%;
    border: 2px solid var(--lightgray);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: var(--white);
    margin: 2rem 0;
    padding: 1rem;
    padding-top: 6px;
    outline: none !important;
  }