ul.core-block {
    padding-left: 0px !important
}

ul.core-block li {
    list-style-type: none;
    margin-left: 2rem;
    align-content: center;
}

ul.core-block li:before {
    content: "\e892";
    display: inline-block;
    font-family: 'Material Icons';
    padding-top: 1px;
    margin-left: -2rem;
    position: absolute;
    font-size: 24px;
    color: rgba(0,0,0,0.4);
}

.dark ul.core-block li:before {
    color: rgba(255,255,255,0.4);
}