
.number-picker {
   padding: 0.25rem;
   border-radius: 100%;
   display: inline-flex;
   align-items: center;
   margin-right: 1rem;
   @media (min-width: 1024px) {
      background: var(--lightgray);
   }
}

.number-picker button {
   border-radius: 100%;
   background: var(--mediumgray);
   color: var(--white);
   cursor: pointer;
   background-position: center;
   background-repeat: no-repeat;
   width: 1.25rem;
   height: 1.25rem;
   @media (min-width: 1024px) {
      width: 1.75rem;
      height: 1.75rem;
   }
}


.number-picker button:first-child {
   background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%2013H5v-2h14v2z%22%2F%3E%3C%2Fsvg%3E');
}

.number-picker button:last-child {
   background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%2013h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22%2F%3E%3C%2Fsvg%3E');
}

.number-picker input {
   padding: 0 0.25rem;
   width: 2rem;
   margin: 0 0.25rem;
   text-align: center;
   background: transparent;
   @media (min-width: 1024px) {
      background: var(--lightgray);
   }
}