.wp-block-quote {
    border-style: dotted !important;
    border-left-width: 4px !important;
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
    border-color: var(--primary) !important;
}

.wp-block-quote cite {
    color: rgba(115, 115, 115, var(--tw-text-opacity)) !important;
    font-style: italic !important;
}