section, .section {
    background-size: cover;
    background-position:center;
}

section > div, .section .content { 
    max-width: 1280px;
    margin-left: 1rem;
    margin-right: 1rem;
    @media (min-width: 1536px) { 
        margin-left: auto;
        margin-right: auto;
    }
    
}