

{% extends "master.twig" %}

{% block content %}
    <div class="container">
        <h1>Verflixt und zugenäht!</h1>
        <p>Die Seite, die du suchst, kann ich beim besten Willen nicht finden! Als Trost kann ich dir nur dieses virtuelle Zuckerl anbieten.</p>
    </div>
{% endblock %}