{% extends "master.twig" %}

{% block content %}
    <header style="background-image:url('{{ Image(post._thumbnail_id).src }}')">
        
    </header>    

    <div class="uk-container">
        {# the_content muss aufgerufen werden um die Gutenberg-Blöcke zu rendern. #}
        {{ function( 'apply_filters', 'the_content', post.content ) }}
    </div>
{% endblock %}