.description {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--mediumgray);
}
h1 {
    @apply text-3xl !important;
    @apply lg:text-5xl !important;
    @apply font-bold;
    @apply py-10;
}
h2 {
    @apply text-2xl !important;
    @apply lg:text-4xl !important;
    @apply font-bold;
    @apply py-8;
}
h4 {
    @apply text-lg !important;
    @apply lg:text-2xl !important;
    @apply py-4;
    @apply font-bold;
}
h3 {
    @apply text-xl !important;
    @apply lg:text-3xl !important;
    @apply font-bold;
    @apply py-6;
}
h5 {
    @apply font-bold;
    @apply text-lg !important;
    @apply lg:text-xl !important;
    @apply font-bold;
    @apply py-2;
}

p.core-block {
    padding: 0 1rem;
}

ol.core-block {
    @apply list-decimal;
    @apply py-2;
    @apply pl-8;
}

footer h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    padding: 1rem 0;
}

hr.is-style-default {
    width: 100% !important;
    border-bottom-style: dotted !important;
    border-bottom-width: 4px !important;;
    border-color: rgba(0,0,0,0.5);
    margin: 1rem 0 !important;
}

.dark hr.is-style-default {
    border-color: rgba(255,255,255,0.5);
}