.description {
    @apply text-xs text-gray-500;
}
h1 {
    @apply text-3xl !important;
    @apply lg:text-5xl !important;
    @apply font-bold;
    @apply py-10;
}
h2 {
    @apply text-2xl !important;
    @apply lg:text-4xl !important;
    @apply font-bold;
    @apply py-8;
}
h4 {
    @apply text-lg !important;
    @apply lg:text-2xl !important;
    @apply py-4;
    @apply font-bold;
}
h3 {
    @apply text-xl !important;
    @apply lg:text-3xl !important;
    @apply font-bold;
    @apply py-6;
}
h5 {
    @apply font-bold;
    @apply text-lg !important;
    @apply lg:text-xl !important;
    @apply font-bold;
    @apply py-2;
}

p.core-block {
    @apply py-2;
}

ul.core-block {
    @apply list-disc;
    @apply pl-8;
    @apply py-2;
}

ol.core-block {
    @apply list-decimal;
    @apply py-2;
    @apply pl-8;
}

footer h4 {
    @apply text-lg;
    @apply lg:text-2xl;
    @apply font-bold;
    @apply py-4;
}

hr {
    width: 100%;
    border-bottom-style: dotted;
    /* border-radius: 4px; */
    border-bottom-width: 4px;
    border-color: rgba(0,0,0,0.5);
}

.dark hr {
    border-color: rgba(255,255,255,0.5);
}