.has-text-align-right {
    text-align: right;
}

.has-text-align-center {
    text-align: center;
}

.has-primary-color {
    color: $global-primary-background;
}

.has-secondary-color {
    color: $global-secondary-background;
}

.has-warning-color {
    color: $global-warning-background;
}

.has-danger-color {
    color: $global-danger-background;
}

.has-success-color {
    color: $global-success-background;
}