// Weitere Variablen
// Deprecated?
$global-default-background: #eeeeee !default;

body {   
    margin-right: 3%;
    position: relative;
    background: #eeeeee;
}

@media only screen and (max-width: 640px) {
    body {   
        margin-right: 5%;
    }   
}


// Sections
body.home {
    header {
        background-size: cover;
        background-position: center;
    }
}


p:empty, span:empty {
    display: none;
}



.error {
    @extend .uk-text-danger;
    @extend .uk-text-small;
}


.main-header {
    padding-top: 200px;
    padding-bottom: 200px;
}

.ctx-round-edges {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.ctx-image-border {
    border: 5px solid #fff;
}



.de-AT {
    --primary: var(--blue);
    --primary-transparent: var(--blue-transparent);
    --primary-light: var(--lightblue);
}

.de-DE {
    --primary: var(--green);
    --primary-transparent: var(--green-transparent);
    --primary-light: var(--lightgreen);
}

.graz {
    --primary: var(--purple);
    --primary-light: var(--lightpurple);
    --primary-transparent: var(--purple-transparent);
}

.wien {
    --primary: var(--orange);
    --primary-light: var(--lightorange);
    --primary-transparent: var(--orange-transparent);
}

.innsbruck {
    --primary: var(--green);
    --primary-light: var(--lightgreen);
    --primary-transparent: var(--green-transparent);
}

.de-CH {
    --primary: var(--orange);
    --primary-transparent: var(--orange-transparent);
    --primary-light: var(--lightorange);
}


@each $color in $color-slugs {
    .page-#{$color} {
        --primary: var(--#{$color});
        --primary-transparent: var(--#{$color}-transparent);
        --primary-light: var(--light#{$color});
    }
}

// UiKit-Compatibility for primary, warning, alert, ...
:root {
    --warning: var(--orange);
    --warning-light: var(--orange);
    --danger: var(--red);
    --danger-light: var(--red-light);
    --success: var(--green);
    --success-light: var(--green-light);
    --success: var(--green);
    --success-light: var(--green-light);
}

.has-default-color {
    color: var(--default);
}

em {
    color: inherit !important; }

.ctx-font-script {
    font-family: "Gochi Hand";
}

.ctx-small-round-border {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.uk-subnav-pill li a {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.small-border-radius {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.large-border-radius {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dotted-line-bottom {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='2'><circle r='0.9' style='fill:%2322222;' cy='1' cx='1'/></svg>");
    background-position-y: bottom;
    background-repeat: repeat no-repeat;
}

.dotted-line-top {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='2'><circle r='0.9' style='fill:%2322222;' cy='1' cx='1'/></svg>");
    background-position-y: bottom;
    background-repeat: repeat no-repeat;
}


