.page {
    --primary-color: var(--primary);
    --primary-light-color: var(--lightblue);
}

.single {
    --primary-color: var(--primary);
    --primary-light-color: var(--lightblue);
}

.graz {
    --primary-color: var(--purple);
    --primary-light-color: var(--lightpurple);
}

.wien {
    --primary-color: var(--warning);
    --primary-light-color: var(--lightorange);
}

.innsbruck {
    --primary-color: var(--success);
    --primary-light-color: var(--lightgreen);
}



$hamburger-padding-x           : 0px;
$hamburger-padding-y           : 0px;
$hamburger-layer-width         : 25px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 5px;
$hamburger-layer-color         : #000;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 1;

.ctx-small-round-border {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.uk-card img {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.uk-card.first-image img {
    border-bottom-right-radius: 0px;
}

.uk-card.last-image img {
    border-top-left-radius: 0px;
}

.uk-card.center-image img {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

