@import "variables.scss";

@import "blocks/accordion.scss";

@import "uikit/src/scss/uikit.scss";

$hamburger-padding-x           : 0px;
$hamburger-padding-y           : 0px;
$hamburger-layer-width         : 25px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 5px;
$hamburger-layer-color         : #000;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 1;


@import "hamburgers/_sass/hamburgers/hamburgers.scss";
  
@import url('https://fonts.googleapis.com/css?family=Inria+Sans:400,400i,700&display=swap');

// Weitere Variablen
$global-default-background: #eeeeee !default;

body {   
    margin-right: 3%;
}

$purple-color: #926FAD;
$purple-background-color: #E2DAEB;

$blue-color: #0094D6;
$blue-background-color: #CDE0F4;

$green-color: #ABBB5F;
$green-background-color: #EAECD8;

@import "blocks";
@import "layout";
@import "pages";

.body {
    position: relative;
}


.page header {
    height: 130px;
    background-color: #ddd;
}

.home header {
    height: 500px;
    background-size: cover;
}

.single header {
    background-color: #ddd;
    padding-top: 100px;
    padding-bottom: 50px;
}


// Sections
body.home {
    header {
        background-size: cover;
        background-position: center;
    }
}

