@import "variables.scss";

@import "blocks/accordion.scss";


@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

@import "globals";



//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap');




@import "elements";
@import "blocks";
@import "layout";
@import "pages";
@import "plugins";

@import "hamburgers/_sass/hamburgers/hamburgers.scss";
