@import "variables.scss";

@import "blocks/accordion.scss";


@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

@import "globals";


  
@import url('https://fonts.googleapis.com/css?family=Inria+Sans:400,400i,700&display=swap');

// Weitere Variablen
// Deprecated?
$global-default-background: #eeeeee !default;

body {   
    margin-right: 3%;
    position: relative;
}

@import "elements";
@import "blocks";
@import "layout";
@import "pages";

@import "hamburgers/_sass/hamburgers/hamburgers.scss";

// Sections
body.home {
    header {
        background-size: cover;
        background-position: center;
    }
}

.ctx-round-edges {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.ctx-image-border {
    border: 5px solid #fff;
}