@each $color in $color-slugs {
    .uk-accordion li.bg-#{$color} {
        > a {
            background-color: var(--#{$color});
            color: var(--#{$color}-soft-contrast);
        }
        
        .uk-accordion-content {
            background-color: var(--#{$color}-soft-contrast);
            color: var(--#{$color});
        }  
    }
}


.uk-accordion-title {
    padding: 7px 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.uk-accordion-content {
    padding: 7px 15px;
    border-bottom-right-radius: 10px;
}

.uk-open .uk-accordion-title {
    border-bottom-right-radius: 0px;
}
.uk-tab li a {
    
}