@each $color in $color-slugs {
    .uk-card-#{$color} {
        background-color: var(--#{$color});
        color: var(--#{$color}-contrast);

        h1, h2, h3, h4, h5, h6 {
            color: var(--#{$color}-soft-contrast);
        }
    }

    .uk-section > .uk-container > .uk-card-#{$color} {
        background: var(--#{$color}-transparent);
        h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
            background-color: var(--#{$color});
            color: var(--#{$color}-contrast);
        }
    }
}

.uk-grid div:first-child {
    .uk-card, .uk-card img:not(.uk-border-circle) {
        border-top-left-radius: 50px;
    }
    
}

.uk-grid div:last-child {
    .uk-card {
        border-bottom-right-radius: 50px;
    }
}

.uk-card-default {
    box-shadow: none;
}

a.uk-card:hover {
    text-decoration: none;
    color: inherit;
}

.uk-section > .uk-container > .uk-card {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;

    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
        position: absolute;
        top: -20px;
        left: 50px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 5px 15px;
    }
}