.uk-card img {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.uk-card {
    border-top-left-radius: 50px;
}

.uk-card.first-image img, .uk-card.first-image {
    border-bottom-right-radius: 0px;
}

.uk-card.last-image img {
    border-top-left-radius: 0px;
}

.uk-card img {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.uk-card-success {
    background-color: var(--success);
    color: #fff;
    img {
        border-radius: 0px;
    }
}

.uk-card-purple {
    background-color: var(--purple);
    color: #fff;
    img {
        border-radius: 0px;
    }
}

.uk-card-warning {
    background-color: var(--warning);
    color: #fff;
    img {
        border-radius: 0px;
    }
}

.uk-card-danger {
    background-color: var(--danger);
    color: #fff;
    img {
        border-radius: 0px;
    }
}