.uk-grid div:first-child {
    .uk-card, .uk-card img {
        border-top-left-radius: 50px;
    }
    
}

.uk-grid div:last-child {
    .uk-card {
        border-bottom-right-radius: 50px;
    }
}

.uk-card-default {
    box-shadow: none;
}

a.uk-card:hover {
    text-decoration: none;
    color: inherit;
}

.uk-section > .uk-container > .uk-card {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}