@each $color in $color-slugs {
    .uk-section-#{$color} {
        .wp-block-quote {
            border-left: 4px dotted var(--#{$color}-soft-contrast);
        }
        cite {
            color: var(--#{$color});
            background: var(--#{$color}-soft-contrast);
        }
    }
}

cite {
    padding: 3px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

