.uk-section.uk-section-default {
    background-color: $global-default-background;
    color: #333
}
.uk-section.uk-section-primary {
    background-color: $global-warning-background;
    color: #fff
}
.uk-section.uk-section-warning {
    background-color: $global-warning-background;
    color: #fff
}
.uk-section.uk-section-success {
    background-color: $global-success-background;
    color: #fff
}

.uk-section.uk-section-black {
    background-color: $global-secondary-background;
    color: #fff
}

.uk-section.uk-section-purple {
    background-color: var(--lightpurple);
    color: var(--purple);
}


.uk-section.uk-section-lightorange {
    background-color: var(--lightorange);
    color: $global-color
}
.uk-section.uk-section-lightblue {
    background-color: var(--lightblue);
    color: $global-color
}
.uk-section.uk-section-lightgreen {
    background-color: var(--lightgreen);
    color: $global-color
}

.uk-section.uk-section-lightred {
    background-color: var(--lightred);
    color: $global-color
}

.uk-section.uk-section-lightpurple {
    background-color: var(--lightpurple);
    color: $global-color
}