.editor-styles-wrapper {
	background-color: #eee;
	cursor: text;
	background: #eee;
}

.ctx-color-badge {
	border-radius: 999px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	height: 24px;
	width: 80px;
}

.description.error {
	color: #cc1818 !important;
}

.header-settings-section {
	padding: 10px 0;
}
