.uk-button:hover {
    filter: brightness(90%);
}

.uk-button {
    @extend .small-border-radius;
    text-transform: none;
    &.ctx-icon {
        svg {
            margin-right: 7px;
            path {
                fill: #fff !important;
            }
        }
    }
}



