

.uk-button {
    font-weight: 600;
    @extend .small-border-radius;
    text-transform: none;
    &.ctx-icon {
        svg {
            margin-right: 7px;
            path {
                fill: #fff !important;
            }
        }
    }
}

.uk-button-large {
    font-size: 1.25rem;
}



