

.uk-button {
    font-weight: 600;
    @extend .small-border-radius;
    text-transform: none;
    &.ctx-icon {
        svg {
            margin-right: 7px;
            path {
                fill: #fff !important;
            }
        }
    }
}

.uk-button-large {
    font-size: 1.25rem;
}


@each $color in $color-slugs {
    .uk-button-#{$color} {
        background-color: var(--#{$color});
        color: var(--#{$color}-contrast);
        &.uk-button-link {
            background: none !important;
            color: var(--#{$color});
        }
    }
    .uk-button-#{$color}:hover {
        background-color: var(--#{$color}-darker);
        color: var(--#{$color}-contrast);
        &.uk-button-link {
            background: none !important;
            color: var(--#{$color}-darker);
        }
    }

    .uk-button-outline-#{$color} {
        background: transparent;
        border: 1px solid var(--#{$color});
        color: var(--#{$color});

        &:hover {
            background: var(--#{$color});
            color: var(--#{$color}-contrast);
        }
    }

    .uk-button-link {
        background: none !important;
        color: var(--#{$color}-darker);
    }
}