.ctx-icon {

    $colors: danger, warning, success, default, primary;

    
    @each $color in $colors {
        &.uk-text-#{$color} {
            svg {
                path {
                    fill: var(--#{$color}) !important;
                }
            }
        }
    }

    &.uk-text-muted {
        svg {
            margin-right: 7px;
            path {
                fill: #999 !important;
            }
        }
    }
    
}

a.ctx-icon svg, span.ctx-icon svg, address.ctx-icon svg {
    margin-right: 7px;
    width: 20px;
    height: 20px;
}



