.uk-notification-message-danger {
    background: var(--red);
    color: #fff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.uk-notification-message-success {
    background: var(--green);
    color: #fff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.uk-notification {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}