@for $i from 1 through 6 {
    .grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }
    .col-span-#{$i} {
        grid-column: span $i/span $i;
    }
    @media (min-width:768px) {
        .md\:grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
        .md\:col-span-#{$i} {
            grid-column: span $i/span $i;
        }
    }
    @media (min-width:1280px) {
        .xl\:grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
        .xl\:col-span-#{$i} {
            grid-column: span $i/span $i;
        } 
    }
}