@use "sass:map";

.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}



$utilities: map-merge(
  (
    "mx": (
        responsive: true,
        property: margin-right margin-left,
        class: mx,
        values: $spacers
    ),
    "my": (
        responsive: true,
        property: margin-top margin-bottom,
        class: my,
        values: $spacers
    ),
    "px": (
        responsive: true,
        property: padding-right padding-left,
        class: px,
        values: $spacers
    ),
    "py": (
        responsive: true,
        property: padding-top padding-bottom,
        class: py,
        values: $spacers
    ),
    "p": (
        responsive: true,
        property: padding,
        class: p,
        values: $spacers
    ),
    "m": (
        responsive: true,
        property: margin,
        class: p,
        values: $spacers
    ),
    "h": (
        responsive: true,
        property: height,
        class: h,
        values: $spacers
    ),
    "w": (
        responsive: true,
        property: width,
        class: w,
        values: $spacers
    ),
  )
);