$primary: var(--primary);
$secondary: var(--secondary);
$error: var(--error);
$success: var(--success);
$warning: var(--warning);

$gray-100: #eeeeee;
$gray-100: #eeeeee;
$gray-100: #eeeeee;
$gray-100: #eeeeee;
$gray-100: #eeeeee;
$gray-100: #eeeeee;
$gray-100: #eeeeee;