@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.editor-post-title__block .editor-post-title__input {
  font-family: "Exo 2";
}

.editor-styles-wrapper {
  font-family: "Exo 2" !important;
}

.wp-block {
  max-width: 1000px;
}

.ctx-font-script {
  font-family: "Gochi Hand";
}

.ctx-button {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.editor-styles-wrapper {
  background-color: #eee;
  cursor: text;
  background: #eee;
}

.ctx-color-badge {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    height: 24px;
    width: 80px;
}

.manage-column.column-color {
    width: 150px;
}

.description.error {
    color: #bb0000 !important;
}

.color-select {
    margin-top: 20px;
}

.ctx-color-selector {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ctx-color-selector-input {
    margin-left: 10px;
    margin-left: 10px;
    padding: 0;
    border: 0 !important;
}

.ctx-color-selector-button {
    background-color: #3066be;
    color: #ffffff;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #bbb;
    border-radius: 50%;
}

.ctx-color-selector-holder {
    width: 16%;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}