button, .button { @apply transition duration-300 ease-in-out relative rounded-tl-xl rounded-br-xl inline-block px-4 py-2 overflow-hidden inline-flex items-center; }
.button-sm { @apply px-2 py-1 text-xs }
.button-lg { @apply px-6 py-3 text-lg }

.button::after {
    content: " ";
    @apply inset-0 absolute;
    background-color: #00000011;
    opacity: 0;
    backdrop-filter: saturate(1.8);
}

.button.dark::after {
    background-color: #ffffff11 !important;
}

.button.primary {
    @apply bg-primary text-primary-contrast;
}

.button.secondary {
    @apply bg-secondary text-secondary-contrast;
}

.button.link {
    background: none !important;
}

.button.link.primary {
    @apply text-primary;
}

.button.link.secondary {
    @apply text-secondary;
}

.button.minor {
    @apply text-gray-400 hover:text-gray-800 hover:bg-gray-200;
}

.button:not(.outline):hover::after {
    opacity: 1;
}

.button-group {
    @apply flex justify-end;
}

.button i {
    @apply pr-4; 
}

.button:not(.outline):hover::after {
    opacity: 1;
}

.button.outline.light:hover { color: #000000dd !important; }
.button.outline.dark:hover { color: #ffffffdd !important; }

.alert { @apply my-6 p-4 md:p-6 rounded-tl-3xl rounded-br-3xl text-white }

.card { @apply flex transition transform overflow-hidden m-0}
.card.hover { @apply shadow-sm hover:shadow-2xl hover:scale-105 }
.card.image-left { @apply flex-row items-center }
.card.image-right { @apply flex-row-reverse items-center }
.card.image-top { @apply flex-col }
.card.image-bottom { @apply flex-col-reverse }
.card.image-top img.card-image, card-image-bottom img.card-image { @apply object-cover h-64 w-full }
.card.image-left img.card-image, card-image-right img.card-image { @apply object-cover w-64 self-stretch }
.card-content  { @apply flex flex-col h-full w-full flex-grow p-4 md:p-6 }
.card.first { @apply rounded-tl-3xl}
.card.last { @apply rounded-br-3xl}

.description-item { @apply flex py-2 items-center }
.description-item img { @apply h-16 w-16 rounded-full mx-0 mr-4}
.description-item figure { @apply h-16 w-16 mx-0 mr-4}

.section {}
.section .content { @apply max-w-screen-xl mx-4 md:mx-8 lg:mx-8 xl:mx-auto }

.menu-item {
    @apply  text-white lg:text-gray-900 text-xl lg:text-lg flex flex-row items-center w-full px-4 py-4 lg:py-1 font-semibold text-left bg-transparent lg:rounded-tl-xl lg:rounded-br-xl lg:hover:bg-primary lg:hover:text-primary-contrast lg:w-auto lg:flex lg:mt-0 lg:ml-4 cursor-pointer;
}

.menu-item .open {
    transform: rotateX(180deg)
}

ul.core-block {
    padding-left: 0px !important
}

ul.core-block li {
    @apply list-none flex content-center;
}

ul.core-block li:before {
    content: "\e892";
    display: inline-block;
    font-family: 'Material Icons';
    padding-top: 1px;
    @apply mr-2 text-gray-400;
    font-size: 24px;
    
}