

.wp-block-quote {
    border-style: dotted !important;
    border-left-width: 4px !important;
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
    border-color: var(--primary) !important;
}

.wp-block-quote cite {
    color: rgba(115, 115, 115, var(--tw-text-opacity)) !important;
    font-style: italic !important;
}

.card.is-first, .card.is-first img:not(".rounded-full") {
    @apply rounded-tl-lg;
}

.card.is-last, .card.is-last img:not(".rounded-full"){
    @apply rounded-br-lg
}

.wpcf7 {
    @apply pt-8;
}

.wpcf7-submit {
    @apply pt-8;
}

.core-block a {
    color: var(--primary);
}


ul.core-block {
    padding-left: 0px !important
}

ul.core-block li {
    @apply list-none content-center ml-8;
}

ul.core-block li:before {
    content: "\e892";
    display: inline-block;
    font-family: 'Material Icons';
    padding-top: 1px;
    @apply -ml-8 text-gray-400 absolute;
    font-size: 24px;
}