
/* ########## CF7-Plugin ########## */

.wpcf7 br {
    display: none;
}

.wpcf7 span.wpcf7-form-control-wrap {
    position: initial;
}

.wpcf7 .input-text {
    margin-bottom: 30px;
}

/* ########## EVENT-Plugin ########## */

form:invalid input[type="submit"] {
    @apply bg-gray-300 text-gray-500 font-normal cursor-not-allowed;
}

.input-group, .input-name, .input-user_email, .input-user-field {
    @apply my-8;
  }
  
.input-text input, .input-date input, .input-user-field input, .input-name input, .input-user_email input, .input-dbem_country select, .input-country select, .input-select select, .donation input[type="text"], .donation input[type="email"], .donation select {
    outline: none !important;
    @apply w-full border-2 px-4 py-2 w-full border-gray-200 rounded-tl rounded-br bg-white duration-300 transition-all text-gray-900 ease-in-out;
}



.input-country select, .dbem_country select, .input-dbem_country select, .input-select select, .donstion select {
    padding-left: 15px;
}

.input-checkbox {
    margin-bottom: 30px;
    margin-top: 20px;
}

.error-message {
    @apply text-red-500;
    @apply text-xs;
    padding-left: 18px;
    display: block;
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"] + span::before {
    width: 20px;
    height: 20px;
    @apply rounded-tl-sm;
    @apply rounded-br-sm;
    @apply border-2;
    @apply border-gray-200;
    background-color: #fff;
    @apply duration-300;
    @apply transition-all;
    @apply ease-in-out;
    display: block;
    content: "";
    float: left;
    margin-right: 12px;
    margin-top: 5px;
  }
  input[type="checkbox"]:checked+span::before {
    box-shadow: inset 0px 0px 0px 3px #fff;
    @apply border-blue-400;
    backgroud-color: var(--primary)
  }

  span.wpcf7-list-item {
    display: inline-block;
     margin: 0 0 0 0 !important; 
}

input[type="submit"] {
    @apply px-4 py-2 text-white font-bold rounded-tl rounded-br cursor-pointer outline-none;
    backgroud-color: var(--primary)
}

.donation p {
    @apply my-8
}

.input-textarea label, .input-text label, .input-date label, .input-user-field label, .input-name label, .input-user_email label, .input-select label, .input-country label, .donation label {
    margin-top: -12px;
    @apply inline-block p-4;
    height: max-content;
    @apply rounded-tl-sm rounded-br-sm absolute bg-gray-200 text-black text-sm duration-300 transition-all ease-in-out whitespace-nowrap;
}
  
  
  
.error input, .error select {
   @apply text-red-500;
   @apply border-red-500;
}
  
select:invalid {
    @apply text-gray-500;
}
  
  
.error label {
    @apply bg-red-500;
    @apply text-white
}
  
.input-textarea {
    flex-flow: column;
}
  
.input-textarea label {
    width: max-content;
    margin-top: 0px;
}

.input-textarea textarea {
    width: 100%;
    @apply border-2 border-gray-200 rounded-tl rounded-br bg-white my-0 px-4 mt-6;
    padding-top: 6px;
    outline: none !important;
  }
    

  .wpcf7-response-output {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    @apply rounded-tl;
    @apply rounded-br;
    @apply bg-red-500;
    @apply text-white;
    border: 0px !important;
  }

  .donation label.radio {
    display: flex;
    position: initial;
    margin-bottom: 20px;
    margin-top: 0px;
    background: transparent;
    justify-items: center;
    align-items: center;
  }

  .donation label.radio input, .donation label.radio img  {
    margin-right: 10px;
  }