
/* ########## CF7-Plugin ########## */

.wpcf7 br {
    display: none;
}

.wpcf7 span.wpcf7-form-control-wrap {
    position: initial;
}

.wpcf7 .input-text {
    margin-bottom: 30px;
}

/* ########## EVENT-Plugin ########## */

form:invalid input[type="submit"] {
    @apply bg-gray-300 text-gray-500 font-normal cursor-not-allowed;
}

.input-group, .input-name, .input-user_email, .input-user-field {
    @apply my-8;
  }
  
.input-text input, .input-date input, .input-user-field input, .input-name input, .input-user_email input, .input-dbem_country select, .input-country select, .input-select select, .donation input[type="text"], .donation input[type="email"], .donation select {
    outline: none !important;
    @apply w-full border-2 px-4 py-2 w-full border-gray-200 rounded-tl-xl rounded-br-xl bg-white duration-300 transition-all text-gray-900 ease-in-out;
}



.input-country select, .dbem_country select, .input-dbem_country select, .input-select select, .donstion select {
    padding-left: 15px;
}



.error-message {
    @apply text-red-500;
    @apply text-xs;
    padding-left: 18px;
    display: block;
}

input[type="checkbox"] {
    @apply appearance-none h-6 w-6 border-2 bg-white border-gray-200 rounded-tl-lg rounded-br-lg focus:outline-none transition-all;
}

input[type="checkbox"]:checked {
    @apply border-primary;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

input[type="checkbox"]::after {
    content: "\2714";
    @apply text-white transition-all font-bold absolute transform scale-y-0;
    font-size: 19px;
    margin-top: -4px;
    margin-left: 2px;
}

input[type="checkbox"]:checked:after {
    @apply text-primary scale-y-100;
}

  span.wpcf7-list-item {
    display: inline-block;
     margin: 0 0 0 0 !important; 
}

input[type="submit"] {
    @apply px-4 py-2 text-white font-bold rounded-tl-xl rounded-br-xl cursor-pointer outline-none;
    background-color: var(--primary)
}

.donation p {
    @apply my-8
}

.input-textarea label, .input-text label, .input-date label, .input-user-field label, .input-name label, .input-user_email label, .input-select label, .input-country label, .donation label {
    margin-top: -12px;
    @apply inline-block px-2 ml-4;
    height: max-content;
    padding-top: 1px;
    padding-bottom: 1px;
    @apply rounded-tl-lg rounded-br-lg absolute bg-gray-200 text-black text-sm duration-300 transition-all ease-in-out whitespace-nowrap;
}
  
  
  
.error input, .error select {
   @apply text-red-500;
   @apply border-red-500;
}
  
select:invalid {
    @apply text-gray-500;
}
  
  
.error label {
    @apply bg-red-500;
    @apply text-white
}
  
.input-textarea {
    flex-flow: column;
}
  
.input-textarea label {
    width: max-content;
    margin-top: 12px;
}

.input-textarea textarea {
    width: 100%;
    @apply border-2 border-gray-200 rounded-tl-xl rounded-br-xl bg-white my-0 px-4 mt-6;
    padding-top: 6px;
    outline: none !important;
  }
    

  .wpcf7-response-output {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    @apply rounded-tl;
    @apply rounded-br;
    @apply bg-red-500;
    @apply text-white;
    border: 0px !important;
  }

  .donation label.radio {
    display: flex;
    position: initial;
    margin-bottom: 20px;
    margin-top: 0px;
    background: transparent;
    justify-items: center;
    align-items: center;
  }

.donation label.radio input, .donation label.radio img  {
    margin-right: 10px;
}

.number-picker {
     @apply p-1 rounded-full inline-flex items-center md:bg-gray-200 mr-4;
}

.number-picker button {
    @apply rounded-full bg-gray-600 md:bg-gray-700 text-white cursor-pointer bg-center bg-no-repeat w-5 h-5 md:w-7 md:h-7;
    content: "add";
}


.number-picker button:first-child {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%2013H5v-2h14v2z%22%2F%3E%3C%2Fsvg%3E');
}

.number-picker button:last-child {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M19%2013h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22%2F%3E%3C%2Fsvg%3E');
}

.number-picker input {
    @apply px-1 w-8 mx-1 text-center bg-transparent md:bg-gray-200;
}