.em-booking-message-error {
    @apply p-8 bg-red-500 text-white mb-8 rounded-tl-lg rounded-br-lg;
}


/* ########## CF7-Plugin ########## */

.wpcf7 br {
    display: none;
}

.wpcf7 span.wpcf7-form-control-wrap {
    position: initial;
}

.wpcf7 .input-text {
    margin-bottom: 30px;
}

/* ########## EVENT-Plugin ########## */


    
  .donation p {
    margin: 2rem 0;
}
  .wpcf7-response-output {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: var(--error);
    color: var(--white);
    border: 0px !important;
  }

  .donation label.radio {
    display: flex;
    position: initial;
    margin-bottom: 20px;
    margin-top: 0px;
    background: transparent;
    justify-items: center;
    align-items: center;
  }

.donation label.radio input, .donation label.radio img  {
    margin-right: 10px;
}



.wpcf7 {
    padding-top: 2rem;
}

.wpcf7-submit {
    padding-top: 2rem;
}

.core-block a {
    color: var(--primary);
}


