@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-5xl;
    }
    h2 {
      @apply text-4xl;
    }
    h4 {
        @apply text-lg;
    }
    h3 {
        @apply text-2xl;
    }
    h5 {
        @apply font-bold;
    }
  }

/* breaks the utilities-first rule... */
.equalizer > div {
  @apply flex;
  @apply flex-col;
}

.input-group, .input-name, .input-user_email, .input-user-field {
  @apply my-8;
}

.input-text input, .input-user-field input, .input-name input, .input-user_email input, .input-dbem_country select, .input-country select, .input-select select {
  
  outline: none !important;
  width: 100%;
  @apply border-2;
  @apply border-lightgray;
  @apply rounded-tl;
  @apply rounded-br;
  @apply bg-white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.input-country select, .dbem_country select, .input-dbem_country select, .input-select select {
  padding-left: 15px;
}

input[type="submit"] {
  @apply px-4;
  @apply py-2;
  @apply bg-blue;
  @apply text-white;
  @apply font-bold;
  @apply rounded-tl;
  @apply rounded-br;
}

.input-text label, .input-user-field label, .input-name label, .input-user_email label, .input-select label, .input-country label {
  margin-top: -12px;
  @apply inline-block;
  height: max-content;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  @apply rounded-tl-sm;
  @apply rounded-br-sm;
  white-space: nowrap;
  @apply absolute;
  @apply bg-lightgray;
  @apply text-black;
  @apply text-sm;
}

.input-checkbox label {
  background-color: #fff !important;
}



.invalid input {
   @apply text-red;
   @apply border-red;
}

select:invalid {
  @apply text-gray;
}


.invalid label {
    
    @apply bg-red;
    @apply text-white
  }
 

 


  input-textarea {
    flex-flow: column;
  }

  input-textarea label {
    width: max-content;
  }

  input-textarea textarea {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 228px;
    /* width: 100%; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    outline: none !important;
}
  

.script {
  font-family: "Gochi Hand";
}

.equalizer > div > div {
  @apply flex-1;
}

@layer utilities {
  @variants hover {
    .bg-primary {
      background-color: var(--primary);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
}

  .bg-primary-dark {
    background-color: var(--primary-dark);
    }

  .fill-primary {
    fill: var(--primary);
  }

  .bg-blur {
      backdrop-filter: blur(5px);;
  }

  .text-primary {
    color: var(--primary);
   }

   .text-primary-contrast {
    color: var(--primary-contrast);
   }

   .bg-primary-transparent {
    background: var(--primary-transparent);
   }
  }
}

/* Set primary color for each country / city */
  

  .de-AT {
    --primary: var(--blue);
    --primary-transparent: var(--blue-transparent);
    --primary-light: var(--lightblue);
    --primary-contrast: var(--blue-contrast);
    --primary-soft-contrast: var(--blue-soft-contrast);
    --primary-light-transparent: var(--lightblue-transparent);
    --primary-dark: var(--darkblue);
}


.de-DE, .innsbruck {
    --primary: var(--green);
    --primary-transparent: var(--green-transparent);
    --primary-light-transparent: var(--lightgreen-transparent);
    --primary-soft-contrast: var(--green-soft-contrast);
    --primary-light: var(--lightgreen);
    --primary-dark: var(--darkgreen);
}

.graz {
    --primary: var(--purple);
    --primary-light: var(--lightpurple);
    --primary-transparent: var(--purple-transparent);
    --primary-light-transparent: var(--lightpurple-transparent);
    --primary-soft-contrast: var(--purple-soft-contrast);
    --primary-dark: var(--darkpurple);
}

.wien {
    --primary: var(--red);
    --primary-light: var(--lightred);
    --primary-transparent: var(--red-transparent);
    --primary-light-transparent: var(--lightred-transparent);
    --primary-soft-contrast: var(--red-soft-contrast);
    --primary-dark: var(--darkred);
}

.de-CH, .fr-FR {
    --primary: var(--orange);
    --primary-transparent: var(--orange-transparent);
    --primary-light: var(--lightorange);
    --primary-light-transparent: var(--lightorange-transparent);
    --primary-dark: var(--darkorange);
}

/* Make the accordion work */
.max-h-0 {
  max-height: 0;
}