@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@import "base.css";
@import "forms.css";
@import "blocks.css";
@import "plugins.css";
@import "hamburger.css";
@import "components.css";
@import "formatting/text.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


.equalizer > div {
  @apply flex;
  @apply flex-col;
}

.equalizer .card {
  height: 100%;
}

body {
  font-variant-ligatures: none;
}

.script {
  font-family: "Gochi Hand";
}

.equalizer > div > div {
  @apply flex-1;
}

@layer utilities {
  @variants hover {
  .bg-primary {
      background-color: var(--primary);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
}

  .bg-secondary {
    background-color: var(--secondary);
}

.bg-secondary-light {
    background-color: var(--secondary-light);
}

  .fill-primary {
    fill: var(--primary);
  }

  .fill-secondary {
    fill: var(--secondary);
  }

  .bg-blur {
      backdrop-filter: blur(5px);;
  }

  .shift-right {
    @apply mr-4 lg:mr-10;
  }

  .text-primary {
    color: var(--primary);
   }

   .text-secondary {
    color: var(--secondary);
   }

   .border-secondary {
     border-color: var(--secondary);
   }

   .border-primary {
    border-color: var(--primary);
  }

   .bg-primary-transparent {
    background: var(--primary-transparent);
   }

   .bg-secondary-transparent {
    background: var(--secondary-transparent);
   }

   .pseudo-content {
        content: "";
   }

   .dark { 
    color: #ffffff !important;
    color: #ffffffdd !important;
    fill: #ffffffdd !important;
    }
  .light { 
    color: #000000 !important;
    color: #000000dd !important;
     fill: #000000dd !important;
   }

   
  }
}

/* Set primary color for each country / city */
  



/* Make the accordion work */
.max-h-0 {
  max-height: 0;
}

div.input-required {
  display: none !important;
}






.dark { 
  color: #ffffff;
  color: #ffffffdd;
  fill: #ffffffdd
  }
.light { 
  color: #000000;
  color: #000000dd;
   fill: #000000dd;
 }


 .grecaptcha-badge { 
  visibility: hidden;
}