.veranstaltungen header {
    
    background-color: var(--primary-light);
    .ctx-pill-box {
        background-color: var(--primary-light);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.event {
    img {
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .image-container {
        position: relative;
        .audience {
            position: absolute;
            top: 0;
            right: 50px;
            margin-top: -10px;
            background: var(--black);
            color: #ffffff;
            padding: 1px 9px 1px 9px;
            @extend .small-border-radius
        }
    }
    p {
        height: 6rem;
        overflow: hidden;position: relative;
        &:after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 1.5em;
            background: linear-gradient(to right, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 50%);
          }
    }
    &.odd {
        background: rgb(221,221,221);
        p:after {
            background: linear-gradient(to right, rgba(221, 221, 221, 0), rgba(221, 221, 221, 1) 50%);
        }

    }
} 



