
.em-attendee-fields {
    position: relative;
    margin-top: 36px;
    padding: 20px;
    background: #ddd;
    margin-bottom: 20px;
    &:first-child {
        border-top-left-radius: 50px;
    }
    &:last-child {
        border-bottom-right-radius: 50px;
    }

    span.attendee-label {
        position: absolute;
        top: 0;
        right: 20px;
        background: #666;
        color: #fff;
        padding: 2px 11px;
        margin-top: -10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.em-ticket td {
    padding: 10px 0px;
}
.ticket-desc {
    @extend .uk-text-muted;
    @extend .uk-text-small;
}

table.em-tickets  {
    width: 100%;
    background: #eee;
    padding: 50px 20px;
    border-top-left-radius: 50px;
    th {
        text-align: left;
    }
}
div.em-booking-form-details {
    background: #eee;
    padding: 50px 20px;
    border-bottom-right-radius: 50px;
}

div.em-booking-buttons {
    text-align: right;
}

input {
    position: relative;
}

input:required::after {
    content: "*";
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
}

.input-textarea label {
    margin-left: 10px;
    color: #999;
}


.ctx-event-side {

    // Mobile first
    margin-top: -50px;

    @media only screen and (min-width: 960px) {
        margin-top: -130px;
    }

    .ctx-event-image {
        position: relative;
        span {
            position: absolute;
            bottom: 0;
            background: $global-primary-background;
            padding: 5px 18px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            left: 10px;
            margin-bottom: -8px;
            color: #fff;
        }
    }
}


.single footer {
    margin-top: 100px;
}

.latest-news {
    margin-top: 70px;
    a img {
        border: 2px solid var(--primary-color)
    }
}

.ctx-event-details {
    background: #dddddd;
    @extend .large-border-radius;
    padding: 30px;
}