.page header {
    background-color:var(--primary-light);
    padding-top: 200px;
    
    background-size: cover;
    background-position: center;
    .caption {
        background-color: var(--primary-transparent);
        display: inline-block;
        padding-right: 50px;
        border-top-right-radius: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: -2000px;
        padding-left: 2000px;
        backdrop-filter: blur(5px);
        text-align: right;
    }
    h1 {
        font-weight: bold;
        
        color: #fff;

    }
}

@media only screen and (max-width: 640px) {
    .page header {
        background-color:var(--primary-light);
        padding-top: 120px;
        padding-bottom: 0px;
        background-size: cover;
        background-position: center;
    }
}
