.ctx-post-side {

    // Mobile first
    margin-top: -50px;

    @media only screen and (min-width: 960px) {
        margin-top: -130px;
    }

    .ctx-post-image {
        position: relative;
        span {
            position: absolute;
            bottom: 0;
            background: $global-primary-background;
            padding: 5px 18px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            left: 10px;
            margin-bottom: -8px;
            color: #fff;
        }
    }
}


.single footer {
    margin-top: 100px;
}

.latest-news {
    margin-top: 70px;
    a img {
        border: 2px solid var(--primary-color)
    }
}